:focus {
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	font-family: geosans;
	color: white;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}

.effect-21 {
	font-family: geosans;
	border: 1px solid rgba(255,255,255,0.5);
	padding: 7px 14px;
	transition: 0.4s;
	background: transparent;
}

.effect-21 ~ .focus-border:before,
.effect-21 ~ .focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: hsl(120, 100%, 50%);
	transition: 0.2s;
	transition-delay: 0.2s;
}

.effect-21 ~ .focus-border:after {
	top: auto;
	bottom: 0;
	right: auto;
	left: 0;
	transition-delay: 0.6s;
}

.effect-21 ~ .focus-border i:before,
.effect-21 ~ .focus-border i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: hsl(120, 100%, 50%);
	transition: 0.2s;
}

.effect-21 ~ .focus-border i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	transition-delay: 0.4s;
}

.effect-21:focus ~ .focus-border:before,
.effect-21:focus ~ .focus-border:after,
.has-content.effect-21 ~ .focus-border:before,
.has-content.effect-21 ~ .focus-border:after {
	width: 100%;
	transition: 0.2s;
	transition-delay: 0.6s;
}

.effect-21:focus ~ .focus-border:after,
.has-content.effect-21 ~ .focus-border:after {
	transition-delay: 0.2s;
}

.effect-21:focus ~ .focus-border i:before,
.effect-21:focus ~ .focus-border i:after,
.has-content.effect-21 ~ .focus-border i:before,
.has-content.effect-21 ~ .focus-border i:after {
	height: 100%; transition: 0.2s;
}

.effect-21:focus ~ .focus-border i:after,
.has-content.effect-21 ~ .focus-border i:after {
	transition-delay: 0.4s;
}

.effect-21 ~ label {
	font-family: geosans;
	position: absolute;
	left: 14px;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255,255,255,0.75);
	transition: 0.3s;
	z-index: -1;
	letter-spacing: 0.5px;
}

.effect-21:focus ~ label,
.has-content.effect-21 ~ label {
	top: -18px;
	left: 0;
	font-size: 12px;
	color: hsl(120, 100%, 50%);
	transition: 0.3s;
}