extends layout

block content
  #wrapper
    h1#title Budge
    #reg &reg
    hr#titleDivider
    #accountLinks 
      a(href="#sign-in") Sign In
      span  | 
      a(href="#create-account") Create Account
    footer
      #footerLinks
        a(href="#about") About
        span  | 
        a(href="#contact-us") Contact Us
        span  | 
        a(href="#terms-of-use") Terms of Use
      span &copy Calin Scott, 2017