extends layout

block content
	#cover
		table(style='width: 100vw; height: 100vh; max-height: 100vh')
			tr#pageHeader
				td
					table#headerLinks(style="margin: auto;")
						tr
							td(style="padding-left: 5px; padding-right: 5px;")
								a(href="#categories") Categories
							td(style="padding-left: 5px; padding-right: 5px;")
								span |
							td.budgeIcon(style="padding-left: 5px; padding-right: 5px; position: relative;")
								a(href="#budge")
									img.budgeIcon(src="/images/budge_icon.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);")
							td(style="padding-left: 5px; padding-right: 5px;")
								span |
							td(style="padding-left: 5px; padding-right: 5px;")
								a(href="#sign-out") Sign Out
			tr
				td#wrapper(style='max-height: calc(100vh - 116px); overflow: hidden')
			tr#pageFooter
				td
					#footerLinks
						a(href="#about") About
						span  | 
						a(href="#contact-us") Contact Us
						span  | 
						a(href="#terms-of-use") Terms of Use
					span &copy Calin Scott, David Bowen, 2017
					#viewToggle