@font-face {
	font-family: masterofbreak;
	src: url(fonts/master_of_break.ttf);
}

@font-face {
	font-family: geosans;
	src: url(fonts/GeosansLight.ttf);
}

body {
	background: url(/images/beach-large.jpeg) center fixed no-repeat;
	background-size: cover;
	margin: 0px;
}

#wrapper {
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
}

#title {
	font-family: masterofbreak;
	font-weight: normal;
	font-size: 75pt;
	color: white;
	margin: 0px;
	position: absolute;
	text-align: center;
	top: 52%;
	left: 50%;
	transform: translate(-50%,-75%);
}

#reg {
	font-family: masterofbreak;
	font-size: 20pt;
	color: white;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(145px, -95px);
}

#titleDivider {
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 1.5px;
	background-color: white;
	border: none;
}

#accountLinks {
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%, 50%);
}

#accountLinks a, span {
	font-family: geosans;
	font-weight: normal;
	text-decoration: none;
	font-size: 20pt;
	color: white;
	margin: 0px;
}

#accountLinks a:hover {
	font-weight: bold;
}

#circleCanvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

footer span {
	font-size: 12pt;
	line-height: 24pt;
}

#footerLinks a {
	font-family: geosans;
	color: white;
	text-decoration: none;
	font-size: 12pt;
}

#footerLinks a:hover {
	font-weight: bold;
}