@font-face {
	font-family: masterofbreak;
	src: url(fonts/master_of_break.ttf);
}

@font-face {
	font-family: geosans;
	src: url(fonts/GeosansLight.ttf);
}

body {
	background: url(/images/beach-large.jpeg) center fixed no-repeat;
	background-size: cover;
	margin: 0px;
}

#wrapper {
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
}

footer {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: geosans;
	color: white;
	font-size: 12pt;
	line-height: 24pt;
}

#footerLinks a {
	font-family: geosans;
	color: white;
	text-decoration: none;
	font-size: 12pt;
}

#footerLinks a:hover {
	font-weight: bold;
}

h1 {
	font-family: masterofbreak;
	font-size: 6vw;
	font-weight: normal;
	color: white;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h2 {
	font-family: masterofbreak;
	font-size: 3vw;
	font-weight: normal;
	color: white;
	margin: 0px;
	text-align: center;
}

h3 {
	font-family: geosans;
	font-size: 3vw;
	font-weight: normal;
	color: white;
	margin: 0px;
	text-align: center;
}

.verticalAlign {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#expenseWrapper {
	opacity: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	transition: all 2s;
}

#innerExpenseView {
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	border: 5px solid rgba(255,255,255,0.25);
	width: 30vw;
	height: 75vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}