extends layout

block content
  #wrapper
  footer
    #footerLinks
      a(href="#about") About
      span  | 
      a(href="#contact-us") Contact Us
      span  | 
      a(href="#terms-of-use") Terms of Use
    span &copy Calin Scott, David Bowen, 2017